{% extends 'base.html' %}

{% block title %} Tango - Listagem de tasks {% endblock %}

{% block content %}
<main>
<h1>Create a new Task</h1>
<div>
    <form action="" method="POST" class="form">{% csrf_token %}
        <p>
            <label for="title">Título: </label><input type="text" name="title" id="" required>
        </p>
        
        <p>
            <p><label for="description">Descrição: </label></p>
            <textarea name="description" id="" cols="30" rows="10" required>description here...</textarea>
        </p>

        <p>
            <label for="priority">Priority
                <select name="priority" id="">
                    <option value="NORMAL" selected>Normal</option>
                    <option value="LOW">Low</option>
                    <option value="HIGH">High</option>
                    <option value="IMMEDIATE">Immediate</option>
                </select>
            </label>
        </p>


        <p>
            <button type="reset">Resetar</button>
            <button type="submit">Enviar</button>
        </p>
    
    </form>
</div>
</main>
{% endblock %}