{% extends 'base.html' %}

{% block title %} Tango - Listagem de tasks {% endblock %}

{% block content %}
<main>
    <h1>Tango</h1>
    <h2>Estatísticas de uso</h2>

    <p>Em construção...</p>

    <div class="card">
        <div class="card-number">
            10
        </div>
        <div class="card-legend">
            Task's closed
        </div>
    </div>

    <div class="card">
        <div class="card-number">
            10
        </div>
        <div class="card-legend">
            Task's opened
        </div>
    </div>

</main>
{% endblock %}